.navbar-header .navbar-brand {
    color: #fff
}
.navbar-header .navbar-brand {
    padding: 0px 0px;
}
.navbar-brand > img { 
    height: 35px;
    margin-top: 5px;
}

.bg-dark-embassy {
    background-color: #1f2022;
    color: #c1ad7f;
}