.sidebar-light .nav-sidebar .nav-link-active, .sidebar-light .nav-sidebar .nav-link-inactive {
  color: rgba(51,51,51,.85);
}

.sidebar-light .nav-sidebar>.nav-item-open>.nav-link-active:not(.disabled), 
.sidebar-light .nav-sidebar>.nav-item>.nav-link-active.active {
  background-color: #f69b32;
  color: #fff;
}

.sidebar-light .nav-sidebar>.nav-item-open>.nav-link:not(.disabled), 
.sidebar-light .nav-sidebar>.nav-item>.nav-link.active {
  background-color: #f69b32;
  color: #fff;
}

.sidebar-dark {
  background-color: #1f2022;
  color: #fff;
}

.nav-sidebar>.nav-item>.nav-link-active,
.nav-sidebar>.nav-item>.nav-link-inactive {
  font-weight: 500;
}

.nav-sidebar .nav-link-active, 
.nav-sidebar .nav-link-inactive {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: .75rem 1.25rem;
  transition: background-color ease-in-out .15s,color ease-in-out .15s;
}

.nav-sidebar .nav-link-active i,
.nav-sidebar .nav-link-inactive i {
  margin-right: 1.25rem;
  margin-top: .12502rem;
  margin-bottom: .12502rem;
  top: 0;
}

.nav-item-submenu>.nav-link-inactive:after,
.nav-item-submenu>.nav-link-active:after {
  content: "";
  font-family: icomoon;
  display: inline-block;
  font-size: 1rem;
  vertical-align: middle;
  line-height: 1;
  position: absolute;
  top: .75rem;
  margin-top: .12502rem;
  right: 1.25rem;
  transition: -webkit-transform .25s ease-in-out;
  transition: transform .25s ease-in-out;
  transition: transform .25s ease-in-out,-webkit-transform .25s ease-in-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-item-submenu.nav-item-open>.nav-link-active:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sidebar-dark .nav-sidebar>.nav-item-open>.nav-link:not(.disabled), .sidebar-dark .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light .card[class*=bg-]:not(.bg-light):not(.bg-white):not(.bg-transparent) .nav-sidebar>.nav-item-open>.nav-link:not(.disabled), .sidebar-light .card[class*=bg-]:not(.bg-light):not(.bg-white):not(.bg-transparent) .nav-sidebar>.nav-item>.nav-link.active {
  background-color: #c1ad7f;
}

.nav-sidebar>.nav-item>a {
  color: #c1ad7f;
}

/* .sidebar-content {
    height: 100vh;
    margin-bottom: 10vh;
}

img.img-icon {
  display: none;
}

@media (min-width: 769px){
  .sidebar-xs img.img-icon {
    width: 25px;
    vertical-align: middle;
    margin-right: 3px;
    display: inline;
  }

}


@media (min-width: 769px){
  .sidebar-xs .sidebar-main .navigation > li > ul {
      background-color: #dadada !important;
  }
}

.menu-none {
  display: none;
}

.menu-block {
  display: block;
} */
