.btn-gold-embassy {
    color: #000;
    background-color: #c1ad7f;
}

.btn-black-embassy {
    color: #c1ad7f;
    background-color: #000;
}

.page-content {
    min-height: 95vh;
}

img.thumbnail {
    width: 100px;
    /* height: 100%; */
}

.header-elements-inline {
    display: block;
}

/* switch */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    outline: none;
}

.switch input {
    position: initial !important;
    top: initial !important;
    left: initial !important;
    opacity: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #00bf1e;
}

input:checked + .slider#available  {
    background-color: #00bf1e;
}

input + .slider#available {
    background-color: #bf0000;
}

input:focus + .slider {
    box-shadow: 0 0 1px #00bf1e;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.on {
    display: none;
}

.on {
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 51%;
    left: 27%;
}

.off {
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 51%;
    left: 72%;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

.errorMsg {
    margin-top: 10px;
    font-weight: 600;
    color: #f20;
}
img.preview-img { 
    min-width: 15vw;
    max-height: 15vw;
}

/* close switch */