html,
body {
  font-size: 100%;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.7;
  color: rgba(0, 0, 0, 0.8);
}
.container {
  max-width: 45em;
  margin: 5em auto;
}
img {
  max-width: 20em;
  display: block;
  margin: 0 auto;
}